<div class="article">
  <!--sharingData-->
  <div class="row ">
    <div data-ng-include=" '/modules/sharingData/views/sharing.data.html' "></div>
  </div>
  <!--filters-->
  <div class="row ">
    <div data-ng-include=" '/modules/filters/views/filter.html' "></div>
  </div>
  <!--ng-filter-->
  <div class="row ">
    <div data-ng-include=" '/modules/ngFilters/views/ng.filter.html' ">
    </div>
  </div>
  <!--directivesToCtrl-->
  <div class="row">
    <div data-ng-include="'/modules/directivesToCtrl/views/directives.to.ctrl.html'"></div>
  </div>
  <!--isolateScopes-->
  <div class="row">
    <div data-ng-include="'/modules/isolatedScopes/views/isolated.scopes.html'"></div>
  </div>
  <!--stringScopes-->
  <div class="row">
    <div data-ng-include="'/modules/stringScope/views/string.isolate.scope.html'"></div>
  </div>
  <!--twoWayIsolateScope-->
  <div class="row">
    <div data-ng-include="'/modules/twoWayIsolateScope/views/two.way.isolate.scope.html'"></div>
  </div>
   <!--exoressionInIsolateScope-->
  <div class="row">
    <div data-ng-include="'/modules/expressionInIsolateScope/views/expression.html'"></div>
  </div>
</div>
