<div class="row">
  <h1 class="text-center main-title">Isolate Scope</h1>
</div>
<div class="row leading">
  <p class="description">Creating a scope object in custom directive. The scope object isolates directive with explicitly added models. The isolate scope blocks prototypical inheritance from its parents.</p>
  <p class="description">Element directive not-isolated creates input field and produces input message. The message is multiplied because the directive is missing a scope object.</p>
</div>
<div class="well-container" data-ng-controller="notIsolatedCtrl as notIsolated">
  <div class="row">
    <h4 class="text-uppercase"><span class="glyphicon glyphicon-off"></span> Not isolated Directive</h4>
  </div>
  <div class="row">
    <div class="well text-center">
      <not-isolated></not-isolated>
      <not-isolated></not-isolated>
      <not-isolated></not-isolated>
    </div>
  </div>
</div>
<div class="row leading">
  <p class="description">In isolate directive scope has been isolated with a scope object in order to prevent multiplying input text.</p>
</div>
<div class="well-container" data-ng-controller="isolatedCtrl as isolated">
  <div class="row">
    <h4 class="text-uppercase"><span class="glyphicon glyphicon-ban-circle"></span> Isolated Directive</h4>
  </div>
  <div class="row">
    <div class="well text-center">
      <isolated-directive></isolated-directive>
      <isolated-directive></isolated-directive>
      <isolated-directive></isolated-directive>
    </div>
  </div>
</div>
