.article {
  padding: 3% 0 0 0;
}
.article .main-title {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 3em;
  padding-bottom: 2%;
}
.article .well-container {
  padding: 2% 15%;
}
.article .well-container .description {
  padding-bottom: 5%;
  font-size: 1.2em;
}
.article .well-container .well {
  padding: 5% 20%;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .article .well-container .well {
    padding: 5%;
  }
}
.article .well-container .well .message {
  padding-top: 5%;
}
@media (max-width: 767px) {
  .article .well-container .well .message {
    font-size: 0.9em;
    font-weight: bold;
  }
}

.navbar-default img {
  max-height: 40px;
  margin-top: -8px;
}

html {
  position: relative;
  min-height: 100%;
}

