<div class="row">
  <h1 class="text-center main-title">Using custom filters</h1>
</div>
<div class="row leading">
<p class="description">Text input is filtered with custom filter, producing reversed input. Data is shared with factory.</p>
</div>
<div class="row">
  <div class="well-container" data-ng-controller="FirstFilterCtrl as firstFilter">
    <div class="row">
      <h4 class="text-uppercase"><span class="glyphicon glyphicon-refresh"></span> First Controller</h4>
    </div>
    <div class="row">
      <div class="well text-center">
        <input type="text" class="form-control text-center" placeholder="Data" data-ng-model="filters.message">
        <h4 class="message" ng-bind="filters.message"></h4>
      </div>
    </div>
  </div>
  <div class="well-container" data-ng-controller="SecondFilterCtrl as secondFilter">
    <div class="row">
      <h4 class="text-uppercase"><span class="glyphicon glyphicon-refresh"></span> Second Controller</h4>
    </div>
    <div class="row">
      <div class="well text-center">
        <input type="text" class="form-control text-center" placeholder="Data" data-ng-model="filters.message">
        <h4 class="message" ng-bind="filters.message | reverse"></h4>
      </div>
    </div>
  </div>
</div>
