<div class="row">
  <h1 class="text-center main-title">Built-in Angular filter</h1>
</div>
<div class="row leading">
  <p class="description">Using AngularJS built-in ng-filters. Table is produced by using AngularJS ng-repeat filter. Data is filtered from JSON array which is a factory.</p>
</div>
<!--Responsive table-->
<div data-ng-controller="AdressCtrl">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">City</th>
          </tr>
        </thead>
        <tr data-ng-repeat="address in address.list">
          <td>{{address.name}}</td>
          <td>{{address.city}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
