<div class="well-container">
  <div class="row">
    <h4 class="text-uppercase"><span class="glyphicon glyphicon-upload"></span> Directive scope</h4>
  </div>
  <div class="row">
    <div class="well single">
      <input type="text" class="form-control text-center" placeholder="Type here alert message" data-ng-model="textValue" />
      <div class="text-center directive">
        <a block type="button" class="btn btn-default btn-lg" data-ng-click="send({message:textValue})">Directive
      </a>
      </div>
    </div>
  </div>
</div>
