<div class="row">
  <h1 class="text-center main-title">Sharing data with Factories</h1>
</div>
<div class="row leading">
  <p class="description">Sharing same data with two separate controllers without scope inheritance. Sharing is done by using factory service.</p>
</div>
<div class="row">
  <div class="well-container" data-ng-controller="FirstSharingDataCtrl as firstSharingData">
    <div class="row">
      <h4 class="text-uppercase"><span class="glyphicon glyphicon-refresh"></span> First Controller</h4>
    </div>
    <div class="row">
      <div class="well text-center">
        <input type="text" class="form-control text-center" placeholder="Data" data-ng-model="data.message">
        <h4 class="message" data-ng-bind="data.message"></h4>
      </div>
    </div>
  </div>
  <div class="well-container" data-ng-controller="SecondSharingDataCtrl as secondSharingData">
    <div class="row">
      <h4 class="text-uppercase"><span class="glyphicon glyphicon-refresh"></span> Second Controller</h4>
    </div>
    <div class="row">
      <div class="well text-center">
        <input type="text" class="form-control text-center" placeholder="Data" data-ng-model="data.message">
        <h4 class="message" data-ng-bind="data.message"></h4>
      </div>
    </div>
  </div>
</div>
