.directive {
  .btn {
    border-radius: 0;
    background-color: #000000;
    color: white;
    border: none;
    &:hover {
      background-color: #595959;
      color: white;
    }
    &:active {
      background-color: #000000;
      color: white;
    }
  }
}
