<div class="row">
  <h1 class="text-center main-title"><span class="sign">&commat;</span> Isolate Scope</h1>
</div>
<div class="row leading">
  <p class="description">Restricting custom directive scope using &commat; symbol. Symbol sets one-way databinding from parent scope to isolated scope. When the parent scope changes, the isolated scope will be updated. Databinding works only one-way, you can´t update the parent scope from the isolated scope.</p>
  <p class="description">Expression is always a string because DOM elements are strings.</p>
</div>
<div data-ng-controller="stringScopeCtrl as stringScope">
  <div class="well-container">
    <div class="row">
      <h4 class="text-uppercase"><span class="glyphicon glyphicon-download"></span> Parent Scope</h4>
    </div>
    <div class="row">
      <div class="well text-center single">
        <input type="text" class="form-control text-center" data-ng-model="controllerText" />
      </div>
    </div>
  </div>
  <div class="well-container">
    <div string-directive text="{{controllerText}}"></div>
  </div>
</div>
